apiVersion: v1
kind: Service
metadata:
  name: ic-webapp-svc
  namespace: icgroup 
  labels: 
    env: prod 
    app: ic-webapp 
spec:
  selector:
    app: ic-webapp
  ports:
  - port: 8080
    targetPort: 8080
    NodePort: 30009 
  type: NodePort 
