---
- name: retrieve kubeconfig file 
  hosts: k3s 
  become: yes 
  tasks: 
    - name: copy file kubeconfig 
      fetch: 
        src: /etc/rancher/k3s/k3s.yaml
        dest: /home/ubuntu/AppPFA/ansible/kubeconfig-k3s.yml
        flat: yes

    - name: modify kubeconfig file 
      delegate_to: localhost
      ansible.builtin.lineinfile:
        path: /home/ubuntu/AppPFA/ansible/kubeconfig-k3s.yml
        regexp: '    server: https://127.0.0.1:6443'
        line: '    server: https://{{ hostvars[inventory_hostname].ansible_host }}:6443'
